* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 30px;
}

header img {
  height: 60px;
}

header a {
  color: white;
  font-size: 24px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  z-index: 1;
}

header a:hover {
  color: #c51111;
  transition: 0.7s;
}

.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  padding: 100px;
}

p{
  color: white;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.mascara {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
  z-index: -1;
}
.informacoes {
  width: 50%;
  justify-content: space-between;
  margin-right: 200px;
}

.logo-mario {
  height: 200px;
}

button {
  color: white;
  background-color: #c51111;
  border-radius: 3px;
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
}

button:hover {
  background-color: #6c1111;
  transition: 0.7s;
}

.mario-img {
  height: 500px;
}

.link-whatsapp img {
  height: 60px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.form-fale-conosco {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30%;
  left: -335px;
  padding: 20px;
  border-radius: 5px;
  gap: 15px;
  z-index: 2;
  transition: left 1s ease-in-out;
}

input {
  height: 48px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline-color: #18d80f;
  width: 300px;
}

textarea {
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline-color: #18d80f;
}

form h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
  text-align: center;
}

form button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  margin-top: 5px;
}

.mascara-form {
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );

  z-index: 1;
  transition: visibility 1s ease-in-out;
}

/*
inicio:

top: 30%;
left: -335px;

Final:
top: 30%;
left: 50%;
transform: translateX(-50%);

*/